<div id="id01" class="">
    <form class="modal-content" style="background-color:#ffffff!important;">
        <div class="container">
            <!-- <h2 class="school">تخصيص المدرسة</h2> -->
            <button [ngClass]="{'tablink': true, 'active': activeTab === 'News'}"
            (click)="openPage('News', $event.target)" id="defaultOpen"><span>المراحل</span></button>
            <button [ngClass]="{'tablink': true, 'active': activeTab === 'Class'}"
            (click)="openPage('Class', $event.target)"><span>الصفوف</span></button>
            <button [ngClass]="{'tablink': true, 'active': activeTab === 'Contact'}"
            (click)="openPage('Contact', $event.target)"><span>الشعب</span></button>
            <p class="line"></p>
            

            <div id="News" class="tabcontent">
                <label for="termName" class="termName">اسـم المرحـلة</label><br>
                <input type="text" class="term" placeholder="المرحـلة">
                <label for="className" class="className">ملاحظة</label>
                <input type="text" class="class" placeholder="ملاحظة">
                <input type="submit" class="btn btn-primary add" value="إضافة">
                <table class="styled-table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>اسم المرحلة</th>
                        <th>صفوف</th>
                        <th>إجمالي الطلاب</th>
                        <th>ملاحظة</th>
                        <th>الحالة</th>
                        <th>العملية</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>الصف الأول</td>
                        <td>المرحلة الابتدائية</td>
                        <td>ملاحظة</td>
                        <td>500</td>
                        <td>نشطة</td>
                        <td>
                            <div class="col text-left">
                                <div class=" mt-sm-0 mt-2">
                                    <button class="btn btn-left" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item" href="#">تعديل</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">حذف</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>الصف الثاني</td>
                        <td>المرحلة الابتدائية</td>
                        <td>ملاحظة</td>
                        <td>500</td>
                        <td>نشطة</td>
                        <td>
                            <div class="col text-left">
                                <div class=" mt-sm-0 mt-2">
                                    <button class="btn btn-left" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item" href="#"><i class="bi bi-pencil-square IconEdit" ></i>تعديل</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="bi bi-trash IconDelete"></i>حذف</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>الصف الثالث</td>
                        <td>المرحلة الابتدائية</td>
                        <td>ملاحظة</td>
                        <td>500</td>
                        <td>نشطة</td>
                        <td>
                            <div class="col text-left">
                                <div class=" mt-sm-0 mt-2">
                                    <button class="btn btn-left" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><i
                                            class="fas fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item" href="#">تعديل</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">حذف</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                      </tr>
                      <!-- المزيد من الصفوف هنا -->
                    </tbody>
                  </table>
            </div>
            <app-grades></app-grades>
            <app-division></app-division>
        </div>
    </form>
</div>