<div class="sidebar" id="sidebar" >
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="assets/img/logo1.png" width="40" height="40" alt="">
                    <span class="text-uppercase">مدرستي</span>
                </a>
            </div>
            <ul class="sidebar-ul">
                <li class="menu-title">القائمة</li>
                <li class="active">
                    <a href="#"><img src="assets/img/sidebar/icon-1.png" alt="icon"><span>الصفحة الرئيسية</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-2.png" alt="icon"> <span> المدرسين</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="#"><span>جميع المدرسين</span></a></li>
                        <li><a href="#"><span>إضافة مدرس</span></a></li>
                        <li><a href="#"><span>تعديل مدرس</span></a></li>
                        <li><a href="#"><span>عن المدرسين</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-3.png" alt="icon"> <span> الطلاب</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="#"><span>كل الطلاب</span></a></li>
                        <li><a href="#"><span>إضافة طالب</span></a></li>
                        <li><a href="#"><span>تعديل طالب</span></a></li>
                        <li><a href="#"><span>عن الطلاب</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-4.png" alt="icon"> <span> أولياء الأمور</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="#"><span>عرض الأولياء</span></a></li>
                        <li><a href="#"><span>إضافة ولي أمر</span></a></li>
                        <li><a href="#"><span>تعديل ولي أمر</span></a></li>
                        <li><a href="#"><span>عن أولياء الأمور</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><img src="assets/img/sidebar/icon-5.png" alt="icon">
                        <span>Apps</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="javascript:void(0);"><span>Email</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="#"><span>Compose Mail</span></a></li>
                                <li>
                                    <a href="inbox.html"> <span> Inbox</span> </a>
                                </li>
                                <li><a href="inbox.html"><span>Mailview</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"> Chat <span class="badge badge-pill bg-primary float-right">5</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="inbox.html"><span>Voice Call</span></a></li>
                                <li><a href="inbox.html"><span>Video Call</span></a></li>
                                <li><a href="inbox.html"><span>Incoming Call</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="inbox.html"><span> Contacts</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="inbox.html"><img src="assets/img/sidebar/icon-6.png" alt="icon">
                        <span>Calendar</span></a>
                </li>
                <li>
                    <a href="inbox.html"><img src="assets/img/sidebar/icon-7.png" alt="icon"> <span>Exam
                            list</span></a>
                </li>
                <li>
                    <a href="inbox.html"><img src="assets/img/sidebar/icon-8.png" alt="icon">
                        <span>Holidays</span></a>
                </li>
                <li>
                    <a href="inbox.html"><img src="assets/img/sidebar/icon-9.png" alt="icon"><span>
                            Events</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-10.png" alt="icon"><span> Accounts </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html"><span>Invoices</span></a></li>
                        <li><a href="inbox.html"><span>Payments</span></a></li>
                        <li><a href="inbox.html"><span>Expenses</span></a></li>
                        <li><a href="inbox.html"><span>Provident Fund</span></a></li>
                        <li><a href="inbox.html"><span>Taxes</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-11.png" alt="icon"><span> Payroll </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html"><span> Employee Salary </span></a></li>
                        <li><a href="inbox.html"><span> Payslip </span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-12.png" alt="icon"> <span> Blog</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html"><span>Blog</span></a></li>
                        <li><a href="inbox.html"><span>Blog View</span></a></li>
                        <li><a href="inbox.html"><span>Add Blog</span></a></li>
                        <li><a href="inbox.html"><span>Edit Blog</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="noti-dot"><img src="assets/img/sidebar/icon-13.png"
                            alt="icon"> <span>Management </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="#"><span> Employees</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="inbox.html"><span>All Employees</span></a></li>
                                <li><a href="inbox.html"><span>Holidays</span></a></li>
                                <li><a href="inbox.html"><span>Leave Requests</span> <span
                                            class="badge badge-pill bg-primary float-right">1</span></a></li>
                                <li><a href="inbox.html"><span>Attendance</span></a></li>
                                <li><a href="inbox.html"><span>Departments</span></a></li>
                                <li><a href="inbox.html"><span>Designations</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Activities</span></a>
                        </li>
                        <li>
                            <a href="inbox.html"><span>Users</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><span> Reports </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="inbox.html"> <span>Expense Report </span></a></li>
                                <li><a href="inbox.html"> <span>Invoice Report</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="inbox.html"><img src="assets/img/sidebar/icon-14.png" alt="icon">
                        <span>Settings</span></a>
                </li>
                <li class="menu-title">UI Elements</li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-15.png" alt="icon"> <span> Components</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html"><span>UI Kit</span></a></li>
                        <li><a href="inbox.html"><span>Typography</span></a></li>
                        <li><a href="inbox.html"><span>Tabs</span></a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-26.png" alt="icon"> <span> Elements</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html">Sweet Alerts</a></li>
                        <li><a href="inbox.html">Tooltip</a></li>
                        <li><a href="inbox.html">Popover</a></li>
                        <li><a href="inbox.html">Ribbon</a></li>
                        <li><a href="inbox.html">Clipboard</a></li>
                        <li><a href="inbox.html">Drag & Drop</a></li>
                        <li><a href="inbox.html">Range Slider</a></li>
                        <li><a href="inbox.html">Rating</a></li>
                        <li><a href="inbox.html">Toastr</a></li>
                        <li><a href="inbox.html">Text Editor</a></li>
                        <li><a href="inbox.html">Counter</a></li>
                        <li><a href="inbox.html">Scrollbar</a></li>
                        <li><a href="inbox.html">Spinner</a></li>
                        <li><a href="inbox.html">Notification</a></li>
                        <li><a href="inbox.html">Lightbox</a></li>
                        <li><a href="inbox.html">Sticky Note</a></li>
                        <li><a href="inbox.html">Timeline</a></li>
                        <li><a href="inbox.html">Horizontal Timeline</a></li>
                        <li><a href="inbox.html">Form Wizard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><img src="assets/img/sidebar/icon-27.png" alt="icon"> <span> Chart</span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="inbox.html">Apex Charts</a></li>
                        <li><a href="inbox.html">Chart Js</a></li>
                        <li><a href="inbox.html">Morris Charts</a></li>
                        <li><a href="inbox.html">Flot Charts</a></li>
                        <li><a href="inbox.html">Peity Charts</a></li>
                        <li><a href="inbox.html">C3 Charts</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>